.vscode/**
.vscode-test/**
.github/**
.git2gus/**
.cursor/**
.gitignore
.DS_Store

src/**
!src/assets/**

node_modules/**
tsconfig.json
*.vsix
**/*.map
.eslintrc.json

docs/**
vsix/**
test-build.sh
STAGE1_CHANGES.md
CODE_OF_CONDUCT.md
SECURITY.md
